table,td,th{
    border: 1px solid;
    border-collapse: collapse ;
    width: 50%;

}
.hour{
    background-color: coral;
}
.special{
    text-align: center;
    background-color: chartreuse;
}
.head{
    background-color: blue;
}